<div class="container mt-5">
    <p>Formulário</p>
    <form #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">
        <div class="row">
            <div class="form-group col-12">
                <label for="nomeInput">Nome</label>
                <input id="nomeInput" name="nome" type="text" placeholder="Nome" class="form-control p-4" [(ngModel)]="pessoa.nome">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="idadeInput">Idade</label>
                <input id="idadeInput" name="idade" type="text" placeholder="Idade" class="form-control p-4" [(ngModel)]="pessoa.idade">
            </div>
            <div class="form-group col-md-8">
                <label for="cursoInput">Curso</label>
                <select name="curso" id="cursoInput" class="form-control" [(ngModel)]="pessoa.curso">
                    <option value="">Selecione</option>
                    <option *ngFor="let curso of cursos">{{curso}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Enviar</button>
            </div>
        </div>
    </form>
</div>
